@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
/* make a backround image*/
body {
  background-image: url("blurry-gradient-haikei.svg");
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

nav{
    background-color: #00000027;
    width: 100%;
    height: 50px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    padding: 10px;
    text-transform: uppercase;
}
.title-text{
    text-decoration: none;
    color: white;
    font-size: 25px;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}